@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@layer base {
  html {
    font-family: "Poppins", system-ui;
  }
  body {
    overflow-x: hidden;
  }
}
@layer components {
}
.card-b {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  background: white;
  max-width: 500px;
  border-radius: 5px;
}
.input-cal {
  height: 50px;
  width: 100%;
  text-align: end;
}
.input-cal:focus {
  border: 1px solid rgb(74, 88, 240);
}
.input-cal:focus-visible {
  outline: 1px solid rgb(74, 88, 240);
}
.center-flex {
  padding-block: 10px;
  display: flex;
  justify-content: center;
}
.operations-cal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.max-256 {
  max-width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.operations-cal span {
  height: 40px;
  width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}
.dropdown-toggle::after {
  display: none;
}
#dropdown-basic {
  padding: 0px;
  border: none;
  background-color: transparent;
}
@tailwind utilities;
